.button{
    -fx-pref-width: 4.0em;
    -fx-pref-height: 4.0em;
    -fx-background-radius: 2.0em;
    -fx-border-radius: 2.0em;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}

.button:hover {
    -fx-background-color: #dcdcdc;
}
.button:pressed {
    -fx-background-color: black;
    -fx-border-color: white;
}

#text{
	 -fx-background-color: #dcdcdc;
}

.hbox{
    
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    /* -fx-text-fill: -fx-selection-bar-text;  */
    -fx-text-fill: red;
}

.list-view{
}




