/** http://d.hatena.ne.jp/torutk/20120505/p1 */

.root{
	-fx-font-size: 14px;
	-fx-font-weight: 100;
	-fx-background-color:#E3FFED;
	-fx-underline: true ;
}

.button{
	/*グラデーション */
    -fx-pref-width: 4.0em;
    -fx-pref-height: 4.0em;
    -fx-background-radius: 2.0em;
    -fx-border-radius: 2.0em;
    /** 色が強いので調整 or 画像化 */
    -fx-background-color: #FF57B1;
    -fx-border-width: 1.0px;
    /*-fx-border-color: black;*/
     -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #CC0F75;
    /**blure-type color radius spread x-offset y-offset */
    -fx-effect: dropshadow(gaussian, black, 3, 0.01, 1, 1);
    -fx-border-color: none;
}

.button:pressed {
    -fx-background-color: #552D42;
}

.title-container{
	-fx-padding: 20px;
}

.information-container{
	-fx-padding: 15px 0 0 20px;
}


.txt{
	-fx-font-size: 18px;
}

.item-container{
	-fx-padding: 10px 0 30px 20px;
}

.list-cell { 
    -fx-background-color: #f7f7f7;
}

.list{
	-fx-border-color: red;
}

.list-view:focused .list-cell:filled:focused:selected {
   /* -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar; */
   -fx-background-color: #EDAB5B ;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: black;
    -fx-underline: true ;
}


.description{
}

.description-container{
	-fx-border-radius: 2.0em;
}

.title{
	-fx-font-size: 32px;
	-fx-effect: dropshadow(gaussian, dimgray, 5, 0.01, 1, 1);
}
